[submodule "DVDProfilerXML"]
	path = DVDProfilerXML
	url = https://github.com/DJDoena/DVDProfilerXML.git
[submodule "EnhancedPurchaseInfoLibrary"]
	path = EnhancedPurchaseInfoLibrary
	url = https://github.com/DJDoena/EnhancedPurchaseInfoLibrary.git
[submodule "EnhancedTitlesLibrary"]
	path = EnhancedTitlesLibrary
	url = https://github.com/DJDoena/EnhancedTitlesLibrary.git
[submodule "DigitalDownloadInfoLibrary"]
	path = DigitalDownloadInfoLibrary
	url = https://github.com/DJDoena/DigitalDownloadInfoLibrary.git
[submodule "EnhancedNotesLibrary"]
	path = EnhancedNotesLibrary
	url = https://github.com/DJDoena/EnhancedNotesLibrary.git
[submodule "EnhancedFeaturesLibrary"]
	path = EnhancedFeaturesLibrary
	url = https://github.com/DJDoena/EnhancedFeaturesLibrary.git
